{% extends 'public/base.html.twig' %}

{% block title %}Accueil - Boutique en ligne{% endblock %}

{% block content %}

    <div class="container">
      
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
  
    </script>
{% endblock %}
